<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="testBean1" class="pl.szczawip.blablacar.misc.bean.Bean"/>

    <bean id="testBean2"
          class="pl.szczawip.blablacar.misc.bean.Bean"
          factory-method="createInstance"/>


    <bean id="factory"
          class="pl.szczawip.blablacar.misc.bean.TestBeanFactory"/>

    <bean id="testBean3"
          factory-bean="factory"
          factory-method="createTestBean"/>

    <bean id="testBean4" class="pl.szczawip.blablacar.misc.bean.Bean">
        <constructor-arg  value="constructor-arg"/>
    </bean>


    <bean id="testBean5" class="pl.szczawip.blablacar.misc.bean.Bean">
        <replaced-method name="getName" replacer="methodReplacer"/>
    </bean>

    <bean id="methodReplacer" class="pl.szczawip.blablacar.misc.bean.MyMethodReplacer"/>

    <context:annotation-config/>

    <bean id="injectedBean" class="pl.szczawip.blablacar.misc.bean.InjectedBean"/>

    <bean id="testBeanWithRequiredSetter" class="pl.szczawip.blablacar.misc.bean.TestBeanWithRequiredSetter">
        <property name="name" value="autowired"/>
    </bean>

    <bean id="lifecycleBean" class="pl.szczawip.blablacar.misc.bean.LifecycleBean"/>

    <context:property-placeholder location="classpath:test.properties"/>

    <bean id="beanWithProperties" class="pl.szczawip.blablacar.misc.bean.Bean">
        <property name="name" value="${name}"/>
    </bean>

</beans>